* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/hero4.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h4 {
  text-transform: capitalize;
  color: white;
}
nav ul {
  display: flex;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
  text-transform: capitalize;
}
nav input {
  outline: none;
  background: rgba(255, 255, 255, 0.22);
  color: white;
  font-size: 16px;
  padding: 7px 25px;
  border: none;
  border-radius: 15px;
}
input::placeholder {
  padding: 0 0 0 10px;
}
.heading {
  color: white;
  text-transform: capitalize;
  font-size: 2vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 0 10%;
}
.heading span {
  color: #00c341;
}
.btn {
  background: #00c341;
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  font-weight: 400;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 10px;
}
.btn a {
  text-decoration: none;
  color: white;
}
.search {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 15px;
  cursor: pointer;
}
.input {
  position: relative;
}
.input img {
  width: 100%;
}

.item {
  /* margin-bottom: -15px; */
  z-index: 1000;
  width: 90px;
  margin: 0 auto -15px auto;
}
.favourite {
  align-self: start;
}
.card {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  height: 110px;
}
.fruits {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  overflow-x: auto;
}
.shop {
  background: #eaffee;
  padding: 60px 40px;
}
.hiring {
  padding: 40px 0;
  background: #eaffee;
}
.hiring h3 {
  text-align: center;
}
/* .hire {
  background: url(/images/tractor.png), url(/images/Ellipse\ 128.png);
  background-repeat: no-repeat;
  background-size: 60% 100%;
  padding: 0 40px;
  background-position: 100px 6px;

  width: 40%;
} */
.text {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  /* height: 30vh; */
}
.txt {
  max-width: 350px;
  margin: auto;
  padding: 20px 0;
}
.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 80px;
  margin-top: 300px;
}
.tool {
  /* width: 20%; */
  background: white;
  padding: 30px 30px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.tool img {
  width: 100%;
}
footer {
  background-color: #011d07;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 70px;
}
.icons {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons:hover {
  color: #00c341;
  cursor: pointer;
}
footer .col {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
footer .col h4 {
  font-size: 23px;
  margin-bottom: 7px;
}
footer .col a {
  text-decoration: none;
  color: white;
  margin: 7px 0;
  font-size: 18px;
}
footer .col a:hover {
  color: #00c341;
}
footer .follow {
  margin: 20px 0;
}

/*form*/
.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
.section .img-box {
  position: relative;
  width: 50%;
  height: 100%;
}
.section .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section .content-box {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.section .content-box .sign-up {
  width: 50%;
}
.section .content-box .sign-up h2 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 25px;
}
.section .content-box .sign-up .input-box {
  margin-bottom: 20px;
}
.section .content-box .sign-up .input-box label {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 5px;
}
.section .content-box .sign-up .input-box input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid rgba(143, 226, 162, 1);
  font-size: 16px;
  border-radius: 15px;
}
